<p>dirty works!</p>

<button
    type="button"
    class="btn btn-primary"
    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
>
    Simple demo
</button>

<ag-grid-angular
    style="width: 500px; height: 350px"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
></ag-grid-angular>

<ng-template #myContent>
    <div class="content">
        <span>content</span>
        <span>content</span>
        <span>content</span>
        <span>content</span>
    </div>
</ng-template>
